In [1]:
from tensorflow import keras
import keras
import pandas as pd
import numpy as np

2023-03-09 17:34:12.602262: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-03-09 17:34:13.851714: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-03-09 17:34:13.851766: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-03-09 17:34:18.222682: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-03-09 17:34:18.222923: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-03-09 17:34:18.222947: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
# part 1

# save dfs into csvs or any related format

# part 2

# load dataset from csvs and covert into orignal format ((np.array, np.array), (np.array, np.array))

In [3]:
dataset = keras.datasets.mnist.load_data()

In [4]:
train_df = pd.DataFrame(list(zip(dataset[0][0], dataset[0][1])), columns =['image', 'label'])

test_df = pd.DataFrame(list(zip(dataset[1][0], dataset[1][1])), columns =['image', 'label'])

In [5]:
train_df.head()

                                               image  label
0  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      5
1  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      0
2  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      4
3  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      1
4  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      9

In [6]:
train_df.to_csv("train_data.csv")

In [7]:
train_data_csv=pd.read_csv("train_data.csv")

In [8]:
test_df.to_csv("test_data.csv")

In [9]:
test_data_csv=pd.read_csv("test_data.csv")

In [10]:
test_data_csv

      Unnamed: 0                                              image  label
0              0  [[  0   0   0   0   0   0   0   0   0   0   0 ...      7
1              1  [[  0   0   0   0   0   0   0   0   0   0   0 ...      2
2              2  [[  0   0   0   0   0   0   0   0   0   0   0 ...      1
3              3  [[  0   0   0   0   0   0   0   0   0   0   0 ...      0
4              4  [[  0   0   0   0   0   0   0   0   0   0   0 ...      4
...          ...                                                ...    ...
9995        9995  [[  0   0   0   0   0   0   0   0   0   0   0 ...      2
9996        9996  [[  0   0   0   0   0   0   0   0   0   0   0 ...      3
9997        9997  [[  0   0   0   0   0   0   0   0   0   0   0 ...      4
9998        9998  [[  0   0   0   0   0   0   0   0   0   0   0 ...      5
9999        9999  [[  0   0   0   0   0   0   0   0   0   0   0 ...      6

[10000 rows x 3 columns]

In [11]:
test_data_csv

      Unnamed: 0                                              image  label
0              0  [[  0   0   0   0   0   0   0   0   0   0   0 ...      7
1              1  [[  0   0   0   0   0   0   0   0   0   0   0 ...      2
2              2  [[  0   0   0   0   0   0   0   0   0   0   0 ...      1
3              3  [[  0   0   0   0   0   0   0   0   0   0   0 ...      0
4              4  [[  0   0   0   0   0   0   0   0   0   0   0 ...      4
...          ...                                                ...    ...
9995        9995  [[  0   0   0   0   0   0   0   0   0   0   0 ...      2
9996        9996  [[  0   0   0   0   0   0   0   0   0   0   0 ...      3
9997        9997  [[  0   0   0   0   0   0   0   0   0   0   0 ...      4
9998        9998  [[  0   0   0   0   0   0   0   0   0   0   0 ...      5
9999        9999  [[  0   0   0   0   0   0   0   0   0   0   0 ...      6

[10000 rows x 3 columns]

In [12]:
train_x=train_data_csv.loc[:,"image"]
train_x

0        [[  0   0   0   0   0   0   0   0   0   0   0 ...
1        [[  0   0   0   0   0   0   0   0   0   0   0 ...
2        [[  0   0   0   0   0   0   0   0   0   0   0 ...
3        [[  0   0   0   0   0   0   0   0   0   0   0 ...
4        [[  0   0   0   0   0   0   0   0   0   0   0 ...
                               ...
59995    [[  0   0   0   0   0   0   0   0   0   0   0 ...
59996    [[  0   0   0   0   0   0   0   0   0   0   0 ...
59997    [[  0   0   0   0   0   0   0   0   0   0   0 ...
59998    [[  0   0   0   0   0   0   0   0   0   0   0 ...
59999    [[  0   0   0   0   0   0   0   0   0   0   0 ...
Name: image, Length: 60000, dtype: object

In [13]:
train_y=train_data_csv.loc[:,"label"]
train_y

0        5
1        0
2        4
3        1
4        9
        ..
59995    8
59996    3
59997    5
59998    6
59999    8
Name: label, Length: 60000, dtype: int64

In [14]:
test_x=test_data_csv.loc[:,"image"]
test_x

0       [[  0   0   0   0   0   0   0   0   0   0   0 ...
1       [[  0   0   0   0   0   0   0   0   0   0   0 ...
2       [[  0   0   0   0   0   0   0   0   0   0   0 ...
3       [[  0   0   0   0   0   0   0   0   0   0   0 ...
4       [[  0   0   0   0   0   0   0   0   0   0   0 ...
                              ...
9995    [[  0   0   0   0   0   0   0   0   0   0   0 ...
9996    [[  0   0   0   0   0   0   0   0   0   0   0 ...
9997    [[  0   0   0   0   0   0   0   0   0   0   0 ...
9998    [[  0   0   0   0   0   0   0   0   0   0   0 ...
9999    [[  0   0   0   0   0   0   0   0   0   0   0 ...
Name: image, Length: 10000, dtype: object

In [15]:
test_y=test_data_csv.loc[:,"label"]
test_y

0       7
1       2
2       1
3       0
4       4
       ..
9995    2
9996    3
9997    4
9998    5
9999    6
Name: label, Length: 10000, dtype: int64

In [16]:
x_train=train_x.to_numpy
y_train=train_y.to_numpy
x_test=test_x.to_numpy
y_test=test_y.to_numpy

In [17]:
final_data_of_training_testing=((x_train,y_train),(x_test,y_test))

In [18]:
type(final_data_of_training_testing)

tuple